@import '../../helpers/general.styles.css';

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  background-color: var(--tint1-color);
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
  position: relative;
  overflow: hidden;
}

.pricing-plan:first-child {
  justify-self: end;
  background-color: #fff;
  border: 2px solid var(--tint1-color);
  padding: 4.6rem;
}

.pricing-plan:last-child::after {
  content: 'Best Value!';
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--shades1-color);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin: 4.8rem;
}

.plan-details {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem;
}

.feature-icon {
  color: var(--brand-color);
  height: 4.8rem;
  width: 4.8rem;
  background-color: var(--tint1-color);
  margin-bottom: 3.2rem;
  border-radius: 50%;
  padding: 1rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
